.app {
  text-align: center;
  margin: 10%;
}

.text {
  text-align: center;
  font-size: 2rem;
  margin: 10%;
}

.action {
  border: 1px solid black;
  background: none;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
}